{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<h3>Music</h3>


    <div class="card mb-3" style="width: 50%">
        {% for albumProduct in albumProducts %}
        <img class="card-img-top" style="width: 100%; height: 360px" src="{{albumProduct.imageURL}}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{albumProduct.name}}</h5>

            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

        </div>

<!--        Collapsable item-->
        <div>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Listen to the album
            </button>

            <button style="display: inline-block; float: right; margin-left: 10px" data-product={{albumProduct.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart card-btn">
                Add to Cart
            </button>
            <h4 style="display: inline-block; float: right"><strong>EUR {{albumProduct.price|floatformat:2}}</strong></h4>

        </div>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                <audio controls>
                     <source src="{{albumProduct.audioURL}}" type="audio/mpeg">
                Your browser does not support the audio element.
                 </audio>
            </div>
        </div>

        {% endfor %}
    </div>

{% endblock content %}