{% extends 'store/main.html' %}
{% load static %}
{% block content %}



<div class="container register">
    <h3>REGISTER ACCOUNT</h3><br/>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">User name</label>
            <input name="username" type="text" class="form-control" id="username">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <input name="email" type="email" class="form-control" id="exampleInputEmail1">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input name="password" type="password" class="form-control" id="password" aria-describedby="pwdHelp">
            <small id="pwdHelp" class="form-text text-muted">No less than 8 symbols</small>
        </div>
        <div class="form-group">
            <label for="password2">Repeat password</label>
            <input name="password2" type="password" class="form-control" id="password2" aria-describedby="pwd2Help">
        </div>
        <button type="submit" class="btn btn-primary register-button">Register Account</button>
    </form>
    <p>Already have an account? <a href="{% url 'login' %}"><button class="btn btn-outline-secondary">Login</button></a></p>
</div>

{% endblock content %}